# Convex Backend
# on Vercel all three are replaced by CONVEX_DEPLOY_KEY, sensitive, env-specific
CONVEX_DEPLOYMENT= # filled on first `bunx convex dev`
NEXT_PUBLIC_CONVEX_URL= # filled on first `bunx convex dev`
NEXT_PUBLIC_CONVEX_SITE_URL= # filled on first `bunx convex dev`

# Clerk Authentication
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY= # non-sensitive, env-specific, from https://dashboard.clerk.com
CLERK_SECRET_KEY= # sensitive, env-specific, from https://dashboard.clerk.com

# Cloudflare Turnstile
NEXT_PUBLIC_TURNSTILE_SITE_KEY= # non-sensitive, env-agnostic, from https://dash.cloudflare.com/

# Cloudinary
NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME= # non-sensitive, env-agnostic, from https://console.cloudinary.com
CLOUDINARY_API_KEY= # sensitive, env-agnostic, from https://console.cloudinary.com
CLOUDINARY_API_SECRET= # sensitive, env-agnostic, from https://console.cloudinary.com

# On Convex
# CLERK_JWT_ISSUER_DOMAIN= # non-sensitive, env-agnostic, from https://dashboard.clerk.com
# RESEND_API_KEY= # sensitive, env-agnostic, from https://resend.com/api-keys
# TURNSTILE_SECRET_KEY= # sensitive, env-agnostic, from https://dash.cloudflare.com/
# ARTIST_EMAIL= # sensitive, env-agnostic
